@{
    ViewData["Title"] = "Serviços";
}

<h1 class="titulo">Conheça nossos serviços!</h1>

<div class="serviços-container">
    <div class="serviço">
        <div id="vet">
        </div>
        <div class="serviço-descrição">
            <h2>Atendimento Veterinário</h2>
            <h3>Agende um horário com um de nossos veterinários. Temos os melhores profissionais para garantir a saúde e bem estar do seu <span style="color: yellow;">Pet</span>!</h3>
            <button onclick="location.href='@Url.Action("Contato", "Home")'" class="btn btn-primary">Agendar</button>
        </div>
    </div>

    <div class="serviço">
        <div class="serviço-descrição">
            <h2>Banho & Tosa</h2>
            <h3>O <span style="color: yellow;">Pet</span> está sujinho ou precisando de um novo penteado? Temos um salão de beleza exclusivo para o seu bichinho!</h3>
            <button onclick="location.href='@Url.Action("Contato", "Home")'" class="btn btn-primary">Agendar</button>
        </div>
        <div id="banho">
        </div>
    </div>
</div>